:host {
	display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    position: absolute;
    height: 102.8%;
    aspect-ratio: 1;
    transform: rotateX(65deg) rotateZ(-45deg);
    top: 11.9%;
}