@use 'sass:list';

:host {
    position: absolute;
    gap: 10px; // Space between portraits
    z-index: 10000;
    pointer-events: none; // Allow clicks to pass through
    inset: 0;
    padding: 20px;

    // A predefined list of rotation values for the character portraits.
    $rotations: -3deg, 4deg, -2deg, 2deg;

    app-character-portrait {
        position: absolute;
        bottom: 15px;
    }

    // Apply a rotation to each portrait based on its index.
    // The pattern repeats every 4 elements.
    ::ng-deep app-character-portrait {
        @for $i from 1 through 4 {
            &:nth-child(4n + #{$i}) {
                .portrait {
                    rotate: list.nth($rotations, $i);
                }
            }
        }

        @for $i from 1 through 10 {
            &:nth-child(#{$i}) {
                z-index: 10 - $i;
                translate: 100% * ($i - 0.5);
            }
        }

        &:first-child {
            translate: 0;

            .message-bubble {
                left: 22%;
            }
        }
    }

    .message-bubble-overlay {
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.5);
        pointer-events: all;
        z-index: 1;
    }
}