<app-room roomType="brick_wall">
	<app-player [appGridPosition]="playerStore.position()" [offsetX]="0" [offsetY]="-10" />

	@for (object of roomStore.objects(); track object.id) {
		<img class="object" [src]="object.sprite" [appGridPosition]="object.position" [offsetX]="0" [offsetY]="-5" />
	}

	@for (npc of npcStore.npcs(); track npc.id) {
		<app-npc [npc]="npc"
			[appGridPosition]="npc.position" 
            [offsetX]="0" 
            [offsetY]="-5" />
	}
</app-room> 

<app-character-queue />