:host {
	display: block;
	width: calc(100% / 12);
	height: calc(100% / 12);

	&.available-for-player {
		.tile-container {
			background: rgba(0, 132, 132, 0.349);

			&:hover {
				background: rgba(0, 255, 255, 0.349);
			}
		}
	}

	&.enemy-character {
		.tile-container {
			background: transparent;

			&:hover {
				background: rgba(255, 0, 0, 0.349);
			}
		}
	}

	&.object {
		.tile-container {
			background: transparent;

			&:hover {
				background: rgba(0, 0, 0, 0.349);
			}
		}
	}

	&.start {
		.tile-container {
			background: rgba(110, 0, 0, 0.5);

			&:hover {
				background: rgba(185, 0, 0, 0.5);
			}
		}
	}

	&.path {
		.tile-container {
			background: rgba(0, 143, 0, 0.5);

			&:hover {
				background: rgba(0, 231, 0, 0.5);
			}
		}
	}

	&.selected {
		.tile-container {
			background: rgba(0, 79, 143, 0.5);

			&:hover {
				background: rgba(0, 108, 197, 0.5);
			}
		}
	}

	.tile-container {
		width: 100%;
		height: 100%;
		cursor: pointer;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		&:hover {
			background: rgba(0, 0, 0, 0.349);
		}

		&.inactive {
			pointer-events: none;;
			cursor: default;
		}

		// DEBUG
		.tile-debug-data {
			font-size: 15px;
			rotate: 45deg;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.tile-position {
				
			}

			.tile-score {
				
			}
		}
	}
}