:host {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
	position: relative;
	overflow: hidden;
	aspect-ratio: 1.755555555555;
	max-height: 100%;
	max-width: 100%;
	flex-grow: 1;

	.room-image {
		object-fit: contain;
		aspect-ratio: 1.755555555555;
		max-width: 100%;
		max-height: 100%;
	}
}