:host {
    display: block;
    position: absolute;
    height: 20%;
    max-width: 20%;
    max-height: 20%;
    aspect-ratio: 1;
    transition: top var(--transition-duration) ease-in, left var(--transition-duration) ease-in;
    pointer-events: none;

    .marker {
        position: absolute;
		top: 0;
		left: 48%;
		width: 6%;
		height: 6%;
		background: radial-gradient(rgba(255, 0, 0, 0.9) 40%, transparent 70%);
		border-radius: 50%;
	}

    .shadow-box {
        width: 80%;
        height: 40%;
        background: radial-gradient(rgba(0, 0, 0, 0.4) 40%, transparent 70%);
        border-radius: 50%;
        position: absolute;
        bottom: 17%;
        left: 9%;
    }
}