:host {
    display: block;
    width: 9vh;
    overflow: hidden;
    transition: width 0.3s ease-in-out, border-color 0.3s ease-in-out, rotate 0.3s ease-in, translate 0.3s ease-in-out;
	position: relative;

    &.active {
        margin-left: 0;
        width: 14vh;
    }

	.background {
		position: absolute;
		inset: 10%;
        background-size: cover;
		z-index: 1;
	}

    .portrait {
        width: 100%;
        height: 100%;
        object-fit: contain;
		z-index: 2;
		position: relative;
    }
}