:host {
    display: block;
    width: 5vw;
    overflow: hidden;
    transition: width 0.3s ease-in-out, border-color 0.3s ease-in-out, rotate 0.3s ease-in, translate 0.3s ease-in-out;
	position: relative;
    // margin-left: -1vw;

    &.active {
        margin-left: 0;
        width: 7vw;
    }

	.background {
		position: absolute;
		top: 5%;
		left: 5%;
		bottom: 5%;
		right: 5%;
        background-size: cover;
		z-index: 1;
	}

    .portrait {
        width: 100%;
        height: 100%;
        object-fit: contain;
		z-index: 2;
		position: relative;
    }
}