:host {
    display: block;
    width: 9vh;
    transition: width 0.3s ease-in-out, border-color 0.3s ease-in-out, rotate 0.3s ease-in, translate 0.3s ease-in-out;
	position: relative;

    &.active {
        margin-left: 0;
        width: 14vh;
    }

    .portrait {

        .background {
            position: absolute;
            inset: 10%;
            background-size: cover;
            z-index: 1;
        }

        .picture {
            width: 100%;
            height: 100%;
            object-fit: contain;
            z-index: 2;
            position: relative;
        }
    }

    .message-bubble {
        width: 90vw;
        height: 20vh;
        position: absolute;
        left: 5%;
        bottom: 100%;
        background: white;
        border: 4px solid black;
        border-radius: 10px;
        z-index: 3;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        font-size: 7vw;
        font-family: "Comic Sans MS", cursive;
        pointer-events: all;

        @media screen and (min-aspect-ratio: 1.755555555555) {
            font-size: 7vh;
        }

        // Create the message bubble's callout arrow
        &::after, &::before {
            content: '';
            position: absolute;
            bottom: -19px;
            left: 14%;
            transform: translateX(-50%);
            width: 0;
            height: 0;
            border-style: solid;

            @media screen and (min-aspect-ratio: 1.755555555555) {
                left: 3%;
            }
        }

        &::after {
            border-width: 20px 20px 0 20px;
            border-color: white transparent transparent transparent;
        }

        &::before {
            border-width: 24px 24px 0 24px;
            border-color: black transparent transparent transparent;
            bottom: -24px;
        }
    }
}