:host {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2000;    
    animation-duration: 2s;
    animation-name: ease-in;
    animation-timing-function: ease-in;

    @keyframes ease-in {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .background {
        position: absolute;
        background: radial-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0) 70%);
        width: 70%;
        height: 60%;
        z-index: 1;
        top: 25%;
        left: 15%;
    }

    .text {
        font-size: 17vh;
        position: absolute;
        color: rgb(54,0,0);
        z-index: 3;
        text-shadow: 4px 2px 5px rgb(200, 0, 0);
        bottom: 40%;
        transform: scaleY(3);
    }

    .shadow {
        font-size: 17vh;
        position: absolute;
        rotate: x 64deg;
        transform: skew(60deg, 0);
        z-index: 2;
        left: 20%;
        bottom: 24.5%;
        color: rgb(0, 0, 0);
        text-shadow: 0px 0px 15px rgb(0, 0, 0);
    }
}